:root {
    --primary-color:rgb(185, 223, 185);
    /* --primary-color-darker: darken(#dcdde0, 30%);
    --primary-color-text:#2b2b2b;
    --text-color-active:#ff0000;
    --primary-color-button:#34776d;
    --primary-color-button-text:#ffffff;
    --grid-primary-color: #a9a9a9;
    --my-code-ref-text:#2012e4; */

    body {
        background: var(--primary-color);
        /* color: var(--primary-color-text);
        font-family: 'PT Serif', serif;
        font-weight: 400;
        /*Sets font boldness*/
        /* font-size: 16px; */
        /* Sets the font size to 16px */
        /* line-height: 1.6; */
        /* Sets the line-height to 1.6 */
        }