 body {
  background-color: rgb(147, 194, 147);
}

.navbar {
  background-color: rgb(117, 148, 117);
}

.navbar__item {
  width: 75px;
  padding-right: 10px ;
}

.page-container {
  margin-top: 100px;
}

.list-group-item {
  border: none;
  text-align: center;
  padding: .25rem .75rem;
  background-color: rgb(147, 194, 147);
  
}

.btn:not(:disabled) {
  text-transform: capitalize;
  background-color: rgb(243, 241, 241);
  border: 2px solid black;
  border-radius: 30px;
  
}
.btn:focus {
  box-shadow: none;
}

.modal-header {
  text-transform: capitalize;
}